nav {
    text-align: left;
    padding: 10px;
}

th {
    padding-right: 10px;
}

th a {
    display: inline-block; 
    background-color: #ffffff; 
    padding: 8px 16px;
    color: rgb(0, 0, 0); 
    text-decoration: none; 
    transition: background-color 0.5s; 
}

th a:hover {
    background-color: #6f736f;
}